<%= form_with(model: family_member, local: true) do |form| %>
  <% if family_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family_member.errors.count, "error") %> prohibited this family_member from being saved:</h2>

      <ul>
      <% family_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :working %>
    <%= form.check_box :working %>
  </div>

  <div class="field">
    <%= form.label :family_id %>
    <%= form.collection_select(:family_id, Family.all, :id, :primary_member_last_name) %>
  </div>

  <div class="field">
    <%= form.label :relationship_id %>
    <%= form.collection_select(:relationship_id, Relationship.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
