<% family_member = @additional_family_member if @additional_family_member.present? %>
<%= form_with(model: [@family, family_member], local: true) do |form| %>
  <% if family_member.errors.any? %>
    <div id="error_explanation" class='alert alert-danger'>
      <h4><%= pluralize(family_member.errors.count, "error") %> prohibited this family_member from being saved:</h2>

      <ul>
      <% family_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :age %>
    <%= form.number_field :age, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :relationship_id %>
    <%= form.collection_select(:relationship_id, Relationship.all, :id, :name, {}, { class: 'form-control' }) %>
  </div>

  <div class="form-check">
    <%= form.check_box :working, class: 'form-check-input' %>
    <%= form.label :working, class: 'form-check-label' %>
   <br></br>
  </div>

  <%= form.hidden_field :family_id, value: @family.id %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $('#additional_family_member_age').on('blur', (event) => {
    let workingCheckbox = $('#additional_family_member_working');

    if (event.target.value < 14) {
      workingCheckbox.checked = false;
      workingCheckbox.parent().hide();
    } else {
      workingCheckbox.parent().show();
    }
  });
</script>