<% if notice %>
  <div class='alert alert-primary'>
    <%= notice %>
  </div>
<% end %>

<p>
  <strong>First name:</strong>
  <%= @family_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @family_member.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @family_member.age %>
</p>

<p>
  <strong>Working:</strong>
  <%= @family_member.working ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Family:</strong>
  <%= @family_member.family.primary_member_last_name %>
</p>

<p>
  <strong>Relationship to <%= @family.primary_member_first_name %> <%= @family.primary_member_last_name %>:</strong>
  <%= @family_member.relationship.name %>
</p>

<%= link_to 'Edit', edit_family_family_member_path(@family_member, family_id: @family.) %> |
<%= link_to 'Back', family_family_members_path(family_id: @family.id) %>
