<div class='row'>
  <div class='col-sm'>
    <h4>Primary Member Info<h4>
    <p>
      <strong>First name:</strong>
      <%= @family.primary_family_member.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @family.primary_family_member.last_name %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @family.primary_family_member.age %>
    </p>
  </div>

  <div class='col-sm'>
    <h4>Family Contact Info<h4>
    <p>
      <strong>Home address:</strong>
      <%= @family.home_address %>
    </p>

    <p>
      <strong>Email address:</strong>
      <%= mail_to(@family.email_address) %>
    </p>

    <p>
      <strong>Phone number:</strong>
      <%= number_to_phone(@family.phone_number) %>
    </p>
    </div>
</div>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'View all families', families_path %>
