<%= form_with(model: family, local: true) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation" class='alert alert-danger'>
      <h4><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
      <% family.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :primary_member_first_name %>
    <%= form.text_field :primary_member_first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :primary_member_last_name %>
    <%= form.text_field :primary_member_last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :primary_member_age %>
    <%= form.number_field :primary_member_age, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :home_address %>
    <%= form.text_field :home_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone_number %>
    <%= form.telephone_field :phone_number, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
    <%= cancel_link(@family) %>
  </div>
<% end %>

<script>
  var input = document.getElementById('family_home_address');
  autocomplete = new google.maps.places.Autocomplete(input, {});
</script>
