<p id="notice"><%= notice %></p>

<% if notice %>
  <div class='alert alert-primary'>
    <%= notice %>
  </div>
<% end %>

<h1>Families</h1>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Last name</th>
      <th scope='col'>First name</th>
      <th scope='col'>Age</th>
      <th scope='col'>Home address</th>
      <th scope='col'>Email address</th>
      <th scope='col'>Phone number</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @families.each do |family| %>
      <tr>
        <th scope='row'><%= link_to family.primary_member_last_name, family_family_members_path(family_id: family.id) %></td>
        <td><%= family.primary_member_first_name %></td>
        <td><%= family.primary_member_age %></td>
        <td><%= family.home_address %></td>
        <td><%= family.email_address %></td>
        <td><%= family.phone_number %></td>
        <td><%= link_to 'Edit', edit_family_path(family) %></td>
        <td><%= link_to 'Destroy', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Family', new_family_path, class: 'btn btn-primary' %>
