<p id="notice"><%= notice %></p>

<p>
  <strong>Primary member first name:</strong>
  <%= @family.primary_member_first_name %>
</p>

<p>
  <strong>Primary member last name:</strong>
  <%= @family.primary_member_last_name %>
</p>

<p>
  <strong>Primary member age:</strong>
  <%= @family.primary_member_age %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @family.home_address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @family.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @family.phone_number %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
