<p id="notice"><%= notice %></p>

<p>
  <strong>Home address:</strong>
  <%= @family.home_address %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @family.email_address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @family.phone_number %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
