<!DOCTYPE html>
<html>
  <head>
    <title>Neighbors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&libraries=places"></script> -->
  </head>

  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
